<div>
        <div class="container" style="width:100%">
    
            <div style="width:60%">
                <h2> GigaByte Product Admin area</h2>
            </div>
    
            <div style="width:20%">
    
                <ul class="inline">
                    <li class="list-inline-item"><a (click)="chooseMode('add')">Add Product</a></li>
                    <li *ngIf="menuChoice" class="list-inline-item"><a (click)="chooseMode('')">Manage Product</a></li>
                    <li class="list-inline-item"><a [routerLink]="['/admin']">Back to Admin</a></li>
    
                </ul>
    
            </div>
            <div style="width:20%">
                <div *ngIf="theUser">
                    <ul class="inline">
                        <li class="admin-menu"><a (click)="logout()">Logout</a></li>
                        <li class="admin-menu"><a>{{theUser}} Logged In</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div [ngSwitch]="menuChoice">
            <div *ngSwitchCase="'add'">
                   <addProd-menu></addProd-menu>
            </div>
            <div *ngSwitchDefault class="container">
                <!--    <div *ngIf="formDisplay">
                 <div class="" *ngFor="let posts of blogPosts">
    
                        <div class="">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4>{{posts.title}}</h4>
                                </div>
                                <div class="panel-body">
                                    <p>{{posts.content | truncate: 140}}</p>
                                    <div>
                                        <a class="button" (click)="editPost(posts)"> Edit</a>
                                        <a class="button alert" (click)="deletePost(posts)">Delete</a>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   -->
                <div *ngIf="formDisplay">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of Products; let i = index">
                                <td>{{i + 1 }}</td>
                                <td>{{product.name}}</td>
                                <td>{{product.description | truncate: 140}}</td>
                                <td>{{product.price}}</td>
                                <td> <a class="button" (click)="editProduct(product)"> Edit</a></td>
                                <td> <a class="button alert" (click)="deleteProduct(product)">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="!formDisplay" class="row">
                    <form>
                        <div class="form-horizontal">
                            <fieldset>
                                <legend>Add a Product</legend>
    
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Product Name </label>
                                    <div class="col-lg-10">
                                        <input type="text" [(ngModel)]="singleProduct.name" name="editTitle" class="form-control" required #prName="ngModel">
                                    </div>
                                </div>
                                <div class="form-group">
    
                                    <label class="col-lg-2 control-label">Product Description</label>
                                    <div class="col-lg-10">
                                        <textarea row="15" id="content" [(ngModel)]="singleProduct.description" name="editcontent" class="form-control" required
                                            #prDesc="ngModel"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
    
                                    <label class="col-lg-2 control-label">Product Price</label>
                                    <div class="col-lg-10">
                                        <input type="text" [(ngModel)]="singleProduct.price" name="editprice" class="form-control" required #prPrice="ngModel">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <div class="expanded button-group">
                                            <button class="btn btn-primary" type="button" [disabled]="!prName.valid || !prDesc.valid || !prPrice.valid" (click)="updateProduct(singleProduct)">Update Product</button>
                                            <button class="btn btn-default" type="button" (click)="cancelEdit()"> Cancel </button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    