
<table style="width:100%">
    <tr>
        <td style="width:50%">
            <div class="text-center center">
                <h2> GigaByte Gaming Company</h2>
            </div>
        </td>
        <td style="width:20%"><br></td>
        <td style="width:30%">
            <div class=" align-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><a [routerLink]="['/cart']"> <b>Cart</b> </a> </li>
                    <li><a [routerLink]="['/shop']"> <b>Shop</b> </a> </li>
                    <li><a [routerLink]="['/admin']"> <b>Admin Area</b> </a> </li>
                    <li><a [routerLink]="['/student']"> <b>Student Area</b> </a> </li>
                </ul>
            </div>
        </td>
        <!-- <td style="width:10%"><br></td> -->
    </tr>
</table>